<!-- First step: define <div class="form-group"> for each field, with two lines: .label and the field itself. -->
<!-- Second step: add error-check to each field. -->
{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $(".loader").show();
            $("#submit").hide();
        }
// ]]></script>

<style>
    .loader {
      border: 4px solid #f3f3f3; /* Light grey */
      border-top: 4px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite;
      display: none;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4">Enter your Graph! (edge representation)</legend>
    <p>
        {% if type == "non_weighted" %}
        Example Input:<br>
            &emsp;Edges: (from_node, to_node)<br>
                &emsp;&emsp;0,3<br>
                &emsp;&emsp;1,4<br>
                &emsp;&emsp;2,5<br>
        {% else %}
        Example Input:<br>
            &emsp;Edges: (from_node, to_node, weight)<br>
                &emsp;&emsp;0,3,1.3<br>
                &emsp;&emsp;1,4,2.1<br>
                &emsp;&emsp;2,5,9.22<br>
        {% endif %}
        <br>
            &emsp;Top Nodes: (comma separated positive integers)<br>
                &emsp;&emsp;0,1,2<br>

    </p>

    <p>* required field</p>

    <div class="form-group">
        {{ form.file.label(class="form-control-label") }}
        {% if form.file.errors %}
            {{ form.file(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.file.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.file(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.top_nodes.label(class="form-control-label") }}
        {% if form.top_nodes.errors %}
            {{ form.top_nodes(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.top_nodes.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.top_nodes(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info", onclick="loading();", id="submit") }}
        <div class="loader"></div>
    </div>
</form>


{% endblock content %}



<!--<div class="form-group">-->
<!--        {{ form.edges(class="form-control form-control-lg")}}-->
<!--    </div>-->
<!--<form method="POST" action="">-->
<!--    <div class="form-group">-->
<!--        {{ addButton.button(class="add-edge") }}-->
<!--        {{ removeButton.button(class="remove-edge") }}-->
<!--    </div>-->
<!--</form>-->

<!--<button class="add-edge">Add Edge</button>-->

<!--<button class="remove-edge">Pop Edge</button>-->
