{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Networkx Open Source Contribution</legend>
<h3>Programmers:</h3>
<ul>
    <li>
        Daniel Gilkarov
    </li>
    <li>
        Benjamin Saldman
    </li>
</ul>
<p>
    For our undergraduate project and as part of the Research Algorithms course
    we implemented algorithms for finding envy free matchings in graphs in the networkx open source project.
</p>
<h4>
    Two versions of the algorithm were implemented:
</h4>
<ul>
    <li>
        <a style="color: blue" href="/algo?type=non_weighted">Non Weighted</a>
    </li>
    <li>
        <a style="color: blue" href="/algo?type=weighted">Weighted</a>
    </li>
</ul>
<h4>You can also read the article that contains the algorithms we implemented <a style="color: blue" href="/article">here</a></h4>
<img src="static/bipartite1.png" width="500">
{% endblock content %}